@import "tailwindcss";

@theme {
  /* Nuestra paleta artesanal */
  --color-artisan-brown: #78350f;
  /* Amber 900 */
  --color-artisan-paper: #fffbeb;
  /* Amber 50 */
  --color-artisan-leaf: #4d7c0f;
  /* Lime 700 */
  --color-artisan-blue: #5297ac;
  --color-artisan-main: #a6c6c1;
  --color-artisan-sand: #e6e0cf;
  --color-artisan-rose: #debfb5;
  --color-artisan-dust: #baa6a5;

  /* Páginas de Mates.- */
  --color-verde-mate: #454e42;
  /* Todo Mates */
  --color-verde-mate-oscuro: #014042
    /* A Puro Mate */
    /* Fuentes para ese toque artesanal */
    --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: sans-serif;
  }

  @keyframes gradient-x {

    0%,
    100% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }
  }

  .animate-gradient-x {
    animation: gradient-x 3s ease infinite;
  }
}

.scroll-smooth {
  scroll-behavior: smooth;
}